.sobre-nos {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    border: 1px solid var(--marrom-secondary);
    border-radius: 20px;
    padding: 5% 0;
}
.foto {
    display: flex;
    justify-content:center;
    min-width: 50%;
}
.content {
    min-width:50%;
}
.sobre-nos-img {
    border-radius:10%;
    max-width: 350px;
}